$bm-background-color:#f9f9f9;
$bm-border-line:1px solid #eee;

$bm-font-color: #2c3e50;
$bm-side-nav-width: 50px;

.general-clickable{
  cursor: pointer;
  transition: 200ms;
  &:hover{
    background: #fff;
  }
  &:active{
  transition: 0ms;
    background: rgb(234, 234, 234);
  }
}

.general-clickable-word{
  cursor: pointer;
  color:#444;
  transition: 200ms;
  &:hover{
    color:rgb(55, 172, 78);
  }
  &:active{
  transition: 0ms;
    color:rgb(32, 157, 57);
  }
}

.center-x-y{
  display: flex;
  align-items: center;
  justify-content: center;
}